/*Pour les boutons X sur les cartes*/
#img_card {
    position: relative;
}

#img_card img {
    width: 100%;
}

.btn_del_animal {
    position: absolute;
    top: 1px;
    right: 5px;
    color: #1f9bcf;
    font-size: 2.1rem;
    text-shadow: 2px 0.1px 0 #fff;
}

/*Pour retirer les flèches des inputs number*/
.number_input::-webkit-inner-spin-button,
.number_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number_input {
    -moz-appearance: textfield;
    width: 5rem;
    text-align: center;
}

#div_number_input {
    flex-wrap: nowrap;
}

.plus_minus_btn {
    padding: .5rem .5rem;
}

/*Pour rendre scrollable la liste des commentaires*/
#divListeCommentaires {
  max-height:30em;
  overflow-y: auto;
}

/*Pour gérer le font size du texte de la bannière*/
#banniere *{
    font-size: medium;
}

#banniereTitle{
    font-size: 2em;
}